{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <h1>HOME PAGE</h1>
    <div class="form-box column">
    <h2>Список всех доступных приложений:</h2>
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Переход на страницу</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ToDo</td>
                <td>Здесь можно писать задачи, или задавать задачи определенному пользователю</td>
                <td><a href="{% url 'todo' %}"><button>Перейти</button></a></td>
            </tr>
            <tr>
                <td>Transcribe</td>
                <td>Позволяет через ссылку на YouTube плейлист или видео распарсить оттуда все
                    транскрипции и запускать встроенный плеер для мгновенного перехода по таймкодам</td>
                <td><a href="{% url 'transcribe' %}"><button>Перейти</button></a></td>
            </tr>
            <tr>
                <td>UserList</td>
                <td>Здесь можно управлять пользователями, но только если вы администратор, разумеется</td>
                <td><a href="{% url 'user_list' %}"><button>Перейти</button></a></td>
            </tr>
            <tr>
                <td>ChangeCasee</td>
                <td>Здесь можно поменять стиль текста выбрав один из вариантов (стилей) написания</td>
                <td><a href="{% url 'change_case' %}"><button>Перейти</button></a></td>
            </tr>


        </tbody>
    </table>
    </div>
{% endblock %}